body {
    font-family: Arial, sans-serif;
    background-color: #6f9df9;
    color: #333;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
.callout {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
.pets-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: space-between 2rem; */
    justify-content: center;
  }
  
.pet {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.pet img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
.callout {
    padding: 20px;
    background-color: #c8cbe0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  

.fact {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
  }

.facts-container {
    background-color: #c8cbe0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
input[type="submit"]:hover {
    background-color: aqua;
}

.fact-form {
    width: 90%;
}

input[type="text"], textarea {
    width: 96%; 
    padding: 10px; 
    box-sizing: border-box;
    border-color: #6f9df9;
  }
  
